name: Next.js CI/CD (123Host)

on:
  push:
    branches: [ main ]
    paths:
      - src/**
      - public/**
      - package.json
      - package-lock.json
      - .github/workflows/**
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Node modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            node_modules
          key: node-${{ runner.os }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            node-${{ runner.os }}-

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build web
        run: npm run build
        env:
          NEXT_PUBLIC_API_URL: https://go-backend-zqxl.onrender.com

      - name: Deploy FTPS
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: free02.123host.vn
          protocol: ftps
          port: 21
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: out/
          server-dir: /public_html/
